body {
    background: #efefef;
}

.welcome-page-top {
    margin: 21% 0px 4px 38%;
}

.welcome-page-down {
    margin: 0% 0% 0% 44%;
}

.login {
    margin-right: 11px;
}

.form-login {
    margin: 0% 0% 0% 21%;
    border: 1px solid #ccc;
    padding: 17px;
    background: #ffffff;
    color: #000;
    font-style: oblique;
}

.form-group .validationMsg {
    display: block;
    /* position: absolute; */
    width: 100%;
    bottom: 0;
    left: 40px;
    font-size: 10px;
    font-weight: 500;
    margin: 0;
    padding: 5px;
}

.error {
    color: red;
}

#purchases-error {
    color: red;
    position: absolute;
}

.form_title {
    margin: 10px;
    text-align: center;
}

.form_back {
    margin: 10px;
    float: left;
}

#cvc {
    margin-top: 22px;
}

.cvc_div {
    margin: -6rem 0rem 2rem 12rem;
}

.date_year {
    margin: -10% 0% 0% 8%;
}

#delete_item_dashboard {
    margin-top: -9%;
    margin-left: 13%;
}

.bill_title {
    margin-right: 8px;
}